<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kidz.project_uas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".onScreenBoard.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onScreenBoard.Main2Activity" />
        <activity android:name=".onScreenBoard.Main3Activity" />
        <activity android:name=".LoginPage.LoginActivity" />
        <activity android:name=".LoginPage.RegisterActivity" />
        <activity android:name=".DashboardApp.Dashboard" />
        <activity android:name=".DashboardApp.DashProfil" />
        <activity android:name=".Fragment.MainFragment" />
        <activity android:name=".Coupon.Coupon" />
        <activity android:name=".DataMember.LoginAdmin" />
        <activity android:name=".DataMember.DataActivity" />
        <activity android:name=".DataMember.MemberActivity" />
    </application>

</manifest>